%h1= t(:sign_in)

- flash.each do |name, msg|
  %div(class=name)= msg

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %p
    = f.email_field :email, placeholder: t(:email)

  %p
    = f.password_field :password, placeholder: t(:password)

  - if devise_mapping.rememberable?
    %p#remember
      = f.check_box :remember_me
      = f.label t(:remember_me), for: 'user_remember_me'

  %p#signin_button
    = f.submit t(:sign_in), class: 'button'

#devise-links
  = render partial: 'devise/shared/links'
